ADF/Pipelines/Landing2Bronze.json
{
    "name": "Landing2Bronze",
    "properties": {
        "activities": [
            {
                "name": "Get Bronze configurations",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Set current date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "BlobSource",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "JSON_file",
                        "type": "DatasetReference",
                        "parameters": {
                            "ContainerName": {
                                "value": "@variables('ConfigContainer')",
                                "type": "Expression"
                            },
                            "FolderName": {
                                "value": "@variables('ConfigFolder')",
                                "type": "Expression"
                            },
                            "FileName": {
                                "value": "@variables('ConfigFile')",
                                "type": "Expression"
                            },
                            "env": {
                                "value": "@pipeline().globalParameters.env",
                                "type": "Expression"
                            }
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach configuration",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Bronze configurations",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get configurations').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Copy from landing to bronze",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "BlobSource",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "BlobSink"
                                    },
                                    "formatSettings": {
                                        "type": "ParquetWriteSettings"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "CSV_file",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "FolderName": {
                                            "value": "@item().source_path",
                                            "type": "Expression"
                                        },
                                        "FileName": {
                                            "value": "@item().source_name",
                                            "type": "Expression"
                                        },
                                        "env": {
                                            "value": "@pipeline().globalParameters.env",
                                            "type": "Expression"
                                        },
                                        "ContainerName": {
                                            "value": "@variables('LandingContainer')",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "Parquet_file",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "ContainerName": {
                                            "value": "@variables('BronzeContainer')",
                                            "type": "Expression"
                                        },
                                        "FolderName": {
                                            "value": "@concat(item().target_path, variables('ExecutionDate'))",
                                            "type": "Expression"
                                        },
                                        "FileName": {
                                            "value": "@item().target_name",
                                            "type": "Expression"
                                        },
                                        "env": {
                                            "value": "@pipeline().globalParameters.env",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "Set current date",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "ExecutionDate",
                    "value": {
                        "value": "@utcnow('yyyy-MM-dd')",
                        "type": "Expression"
                    }
                }
            }
        ],
        "variables": {
            "ConfigContainer": {
                "type": "String",
                "defaultValue": "config"
            },
            "ConfigFolder": {
                "type": "String",
                "defaultValue": "json"
            },
            "ConfigFile": {
                "type": "String",
                "defaultValue": "LoadToBronze.json"
            },
            "BronzeContainer": {
                "type": "String",
                "defaultValue": "bronze"
            },
            "LandingContainer": {
                "type": "String",
                "defaultValue": "landing"
            },
            "ExecutionDate": {
                "type": "String"
            }
        },
        "annotations": []
    }
}